<h1>Formulario de apadrinamientos Koricancha</h1>
<section class="insert">
  <form action="/insert" method="post">

    <div class="row">
      <div class="input box_inline">
        <label for="zone marginBottom">Zona</label>
        <input class="normalField" type="text" name="zone">
      </div>
      <div class="input box_inline">
        <label for="dateDoc marginBottom">Fecha <span class="spanlabel">(dd/mm/yyyy)</span></label>
        <input class="normalField" type="text" name="dateDoc">
      </div>
    </div>

    <h1>1.Datos personales</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="userName ">Nombre del usuario</label>
        <input class="normalField" type="text" name="userName">
      </div>
      <div class="input box_inline">
        <label for="firstLastName ">Primer apellido</label>
        <input class="normalField" type="text" name="firstLastName">
      </div>
      <div class="input box_inline">
        <label for="secondLastName ">Segundo apellido</label>
        <input class="normalField" type="text" name="secondLastName">
      </div>
      <div class="input box_inline">
        <label for="BdayUser ">Fecha de nacimiento</label>
        <input class="normalField" type="text" name="BdayUser">
      </div>

      <div class="input box_inline">
        <label for="dniUser ">DNI</label>
        <input class="normalField" type="text" name="dniUser">
      </div>
    </div>
    <div class="row">
      <div class="input box_inline">
        <label for="responsibleName ">Nombre del responsable</label>
        <input class="normalField" type="text" name="responsibleName">
      </div>
      <div class="input box_inline">
        <label for="relationship ">Parentesco</label>
        <input class="normalField" type="text" name="relationship">
      </div>  
      <div class="input box_inline">
        <label for="relationship ">DNI del responsable</label>
        <input class="normalField" type="text" name="responsibleDni">
      </div>  
      <div class="input box_inline">
        <label for="resposnibleTel ">Telefono del responsable</label>
        <input class="normalField" type="text" name="resposnibleTel">
      </div>  
    </div>

  <h1>2.Datos familiares <span class="spanlabel">(Resllenar sólo los necesarios)</span></h1> 
  <!--FAMILIAR 1-->
    <div class="row">
      <div class="input box_inline">
        <label for="nameF1 ">Nombre del familiar 1</label>
        <input class="normalField" type="text" name="nameF1">
      </div>
      <div class="input box_inline">
        <label for="bDayF1 ">Cumple familiar 1 <span class="spanlabel">(dd/mm/yyyy)</span></label>
        <input class="normalField" type="text" name="bDayF1">
      </div>
      <div class="input box_inline">
        <label for="relationship1F ">Parentesto familiar 1</label>
        <input class="normalField" type="text" name="relationship1F">
      </div>
      <div class="input box_inline">
        <label for="StdWorkF1 ">Estudio/Trabajo familair 1</label>
        <input class="normalField" type="text" name="StdWorkF1">
      </div>

      <div class="input box_inline">
        <label for="CoexistenceF1 ">Convivencia familiar 1</label>
        <input class="normalField" type="text" name="CoexistenceF1">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsF2">Observaciones familiar 2</label>
      <textarea class="normalField" name="observationsF1" rows="10" cols="30">
      </textarea>
    </div>

 <!--FAMILIAR 2-->
    <div class="row">
      <div class="input box_inline">
        <label for="nameF2 ">Nombre del familiar 2</label>
        <input class="normalField" type="text" name="nameF2">
      </div>
      <div class="input box_inline">
        <label for="bDayF2 ">Cumple familiar 2 <span class="spanlabel">(dd/mm/yyyy)</span></label>
        <input class="normalField" type="text" name="bDayF2">
      </div>
      <div class="input box_inline">
        <label for="relationship2F ">Parentesto familiar 2</label>
        <input class="normalField" type="text" name="relationship2F">
      </div>
      <div class="input box_inline">
        <label for="StdWorkF2 ">Estudio/Trabajo familiar 2</label>
        <input class="normalField" type="text" name="StdWorkF2">
      </div>

      <div class="input box_inline">
        <label for="CoexistenceF2 ">Convivencia familiar 2</label>
        <input class="normalField" type="text" name="CoexistenceF2">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsF2">Observaciones familiar 2</label>
      <textarea class="normalField" name="observationsF2" rows="10" cols="30">
      </textarea>
    </div>
<!--FAMILIAR 3-->
    <div class="row">
      <div class="input box_inline">
        <label for="nameF3 ">Nombre del familiar 3</label>
        <input class="normalField" type="text" name="nameF3">
      </div>
      <div class="input box_inline">
        <label for="bDayF3 ">Cumple familiar 3 <span class="spanlabel">(dd/mm/yyyy)</span></label>
        <input class="normalField" type="text" name="bDayF3">
      </div>
      <div class="input box_inline">
        <label for="relationship3F ">Parentesto familiar 3</label>
        <input class="normalField" type="text" name="relationship3F">
      </div>
      <div class="input box_inline">
        <label for="StdWorkF3 ">Estudio/Trabajo familiar 3</label>
        <input class="normalField" type="text" name="StdWorkF3">
      </div>

      <div class="input box_inline">
        <label for="CoexistenceF3 ">Convivencia familiar 3</label>
        <input class="normalField" type="text" name="CoexistenceF3">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsF3">Observaciones familiar 3</label>
      <textarea class="normalField" name="observationsF3" rows="10" cols="30">
      </textarea>
    </div>

<!--FAMILIAR 4-->
    <div class="row">
      <div class="input box_inline">
        <label for="nameF4 ">Nombre del familiar 4</label>
        <input class="normalField" type="text" name="nameF4">
      </div>
      <div class="input box_inline">
        <label for="bDayF4 ">Cumple familiar 4 <span class="spanlabel">(dd/mm/yyyy)</span></label>
        <input class="normalField" type="text" name="bDayF4">
      </div>
      <div class="input box_inline">
        <label for="relationship4F ">Parentesto familiar 4</label>
        <input class="normalField" type="text" name="relationship4F">
      </div>
      <div class="input box_inline">
        <label for="StdWorkF4 ">Estudio/Trabajo familiar 4</label>
        <input class="normalField" type="text" name="StdWorkF4">
      </div>

      <div class="input box_inline">
        <label for="CoexistenceF4 ">Convivencia familiar 4</label>
        <input class="normalField" type="text" name="CoexistenceF4">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsF4">Observaciones familiar 4</label>
      <textarea class="normalField" name="observationsF4" rows="10" cols="30">
      </textarea>
    </div>

    <h1>3.Educacion-Formacion</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="actualCenter ">Centro Actual</label>
        <input class="normalField" type="text" name="actualCenter">
      </div>
      <div class="input box_inline">
        <label for="entryYear ">Año de entrada</label>
        <input class="normalField" type="text" name="entryYear">
      </div>
      <div class="input box_inline">
        <label for="prevCenters ">Centros anteriores</label>
        <input class="normalField" type="text" name="prevCenters">
      </div>
      <div class="input box_inline">
        <label for="propsTherapies ">Apoyos especiales/Terapias</label>
        <input class="normalField" type="text" name="propsTherapies">
      </div>
      <div class="input box_inline">
        <label for="asistance ">Asistencia</label>
        <input class="normalField" type="text" name="asistance">
      </div>

      <div class="input box_inline">
        <label for="observationsEd ">Observaciones</label>
        <input class="normalField" type="text" name="dobservationsEd">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsEd">Observaciones educación y formación</label>
      <textarea class="normalField" name="observationsEd" rows="10" cols="30">
      </textarea>
    </div>

    <h1>4.Situacion Social</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="freeTime ">Tiempo Libre</label>
        <input class="normalField" type="text" name="freeTime">
      </div>
      <div class="input box_inline">
        <label for="caregivers ">Cuidadores</label>
        <input class="normalField" type="text" name="caregivers">
      </div>
      <div class="input box_inline">
        <label for="nearbySupport ">Apoyos cercanos</label>
        <input class="normalField" type="text" name="nearbySupport">
      </div>
      <div class="input box_inline">
        <label for="environmentRelation ">Relacciones con el entorno</label>
        <input class="normalField" type="text" name="environmentRelation">
      </div>
    </div>

    <h1>5.Datos Médicos</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="diagnosis ">Disgnóstico</label>
        <input class="normalField" type="text" name="diagnosis">
      </div>
      <div class="input box_inline">
        <label for="movility ">Movilidad</label>
        <input class="normalField" type="text" name="movility">
      </div>
      <div class="input box_inline">
        <label for="comunication ">Comunicación</label>
        <input class="normalField" type="text" name="comunication">
      </div>
      <div class="input box_inline">
        <label for="testsPermormed ">Pruebas realizadas<span class="spanlabel">(resonancia,tac...)</span></label>
        <input class="normalField" type="text" name="testsPermormed">
      </div>
      <div class="input box_inline">
        <label for="treatment ">Tratamiento</label>
        <input class="normalField" type="text" name="treatment">
      </div>
      <div class="input box_inline">
        <label for="diseasesMembers ">Enfermedades otros miembros de la familia</label>
        <input class="normalField" type="text" name="diseasesMembers">
      </div>
    </div>
    <div class="input box_inline">
      <label for="observationsMed">Observaciones</label>
      <textarea class="normalField" name="observationsMed" rows="10" cols="30">
      </textarea>
    </div>

    <h1>6.Datos de la vivienda</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="PropRent ">Alq/Prop</label>
        <input type="radio" name="PropRent" value="alq"> Alquiler<br>
        <input type="radio" name="PropRent" value="prop"> Propiedad<br>
      </div>
      <div class="input box_inline">
        <label for="constType ">Tipo de construcción</label>
        <input type="radio" name="constType" value="adobe"> Adobe<br>
        <input type="radio" name="constType" value="bricks"> Ladrillo<br>
        <input type="radio" name="constType" value="constBoth"> Ambos<br>
      </div>
      <div class="input box_inline">
        <label for="constState ">Tipo de construcción</label>
        <input type="radio" name="constState" value="goodSate"> Buen estado<br>
        <input type="radio" name="constState" value="mediumState"> Estado medio<br>
        <input type="radio" name="constState" value="badSate"> Mal estado<br>
      </div>

      <div class="input box_inline">
        <label for="endowments ">Dotaciones</label>
        <input type="checkbox" name="endowments" value="water"> Agua <br>
        <input type="checkbox" name="endowments" value="gas" > Gas<br>
        <input type="checkbox" name="endowments" value="light" > Luz<br>
        <input type="checkbox" name="endowments" value="toilet" > Baño<br>
        <input type="checkbox" name="endowments" value="tv" > TV<br>
        <input type="checkbox" name="endowments" value="dvd" > DVD<br>
        <input type="checkbox" name="endowments" value="radio" > Miini Cadena<br>
    </div>
    <div class="row">
      <div class="input box_inline">
        <label for="observationsHealthiness">Salubridad (Olores-Humedades-Limpieza)</label>
        <textarea class="normalField" name="observationsHealthiness" rows="10" cols="30">
        </textarea>
      </div>
      <div class="input box_inline">
        <label for="observationsHouse">Observaciones</label>
        <textarea class="normalField" name="observationsHouse" rows="10" cols="30">
        </textarea>
      </div>
    </div>
    <h1>5.Datos Económicos</h1> 
    <div class="row">
      <div class="input box_inline">
        <label for="income ">Ingresos familiares</label>
        <input class="normalField" type="text" name="income">
      </div>
      <div class="input box_inline">
        <label for="sponsorship ">Alq/Prop</label>
        <input type="radio" name="sponsorship" value="sponsorshipYes"> Si<br>
        <input type="radio" name="sponsorship" value="sponsorshipNo"> No<br>
      </div>
      <div class="input box_inline">
        <label for="startYear ">Año de comienzo</label>
        <input class="normalField" type="text" name="startYear">
      </div>
      <div class="input box_inline">
        <label for="dinningRoom ">Comedor(nombre)</label>
        <input class="normalField" type="text" name="dinningRoom">
      </div>
    </div>

    <h1>CONSLUSIONES</h1> 
    <div class="row">

      <div class="input box_inline">
        <label for="generalObservations">Observaciones generales</label>
        <textarea class="normalField" name="generalObservations" rows="10" cols="30">
        </textarea>
      </div>
      <div class="input box_inline">
        <label for="manifestedObservations">Observaciones manifestadas</label>
        <textarea class="normalField" name="manifestedObservations" rows="10" cols="30">
        </textarea>
      </div>
      <div class="input box_inline">
        <label for="detectedObservations">Observaciones detectadas</label>
        <textarea class="normalField" name="detectedObservations" rows="10" cols="30">
        </textarea>
      </div>
    </div>

    <button type="submit">INSERT</button>
  </form>
</section>
