<h1>Formulario de apadrinamientos Koricancha</h1>
<section class="insert">
  <h3>Nuevo usuario</h3>
  <form action="/insert" method="post">
    <div class="input">
      <label for="userName">Nombre del usuario</label>
      <input type="text" id="userName" name="userName">
    </div>
    <div class="input">
      <label for="addr">Direccion</label>
      <input type="text" id="addr" name="addr">
    </div>
    <div class="input">
      <label for="tel">Telefono</label>
      <input type="text" id="tel" name="tel">
    </div>
    <div class="input">
      <label for="motherName">Nombre de la madre</label>
      <input type="text" id="motherName" name="motherName">
    </div>
    <button type="submit">INSERT</button>
  </form>
</section>