<h1>Formulario de apadrinamientos Koricancha</h1>
<section class="insert">
  <h1>1.Datos personales</h1> 
  <form action="/insert" method="post">
    <div class="row">
      <div class="input box_inline">
        <label for="userName ">Nombre del usuario</label>
        <input class="normalField" type="text" name="userName">
      </div>
      <div class="input box_inline">
        <label>Direccion</label>
        <input class="normalField" type="text" name="addr">
      </div>
      <div class="input box_inline">
        <label>Telefono</label>
        <input class="normalField" type="text" name="tel">
      </div>
      <div class="input box_inline">
        <label>Nombre de la madre</label>
        <input class="normalField" type="text" name="motherName">
      </div>
    </div>
    <div class="row">
      <div class="input box_inline">
        <label>Nombre de la madre</label>
        <input class="normalField" type="text" name="motherName">
      </div>
      <div class="input box_inline">
        <label>Prueba de texto</label>
        <textarea class="normalField" name="message" rows="10" cols="30">The cat was playing in the garden.
        </textarea>
      </div>
      <div class="input box_inline">
        <label>Prueba de texto</label>
        <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
        <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
      </div>
    </div>
    <button type="submit">INSERT</button>
  </form>
</section>




