body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  float: left;
  padding: 10px;
  margin: 30px;
  width:100%;
  min-height: 400px;
}

section:first-of-type {
  margin-left: 0;
}

section:last-of-type {
  margin-right: 0;
}

section h1 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: 70px
}

.insert {
}

.update {
  background: #3498db;
}

.delete {
  background: #e74c3c;
}

.input label {
  font-size: 17px;
  display: block;
  font-weight: bold;
  padding: 2px 0;
  min-width: 160px;
}
.spanlabel{
  font-weight: normal;
}

input,
button {
  font: inherit;
}

button {
  margin-top: 10px;
  border: none;
  box-shadow: 1px 1px 1px #34495e;
  border-radius: 0;
  cursor: pointer;
}

.item {
  margin: 10px 0;
  padding: 5px;
  background: #e0e0e0;
}

.row{
  margin-bottom: 12px;
}
.marginBottom{
  margin-bottom: 26px
}

.box_inline {
  display: inline-block;
  width: 24%;
  margin-right: 20px,

}

.normalField{
  width: 90%;

}